[data-theme='MudClone'] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: inherit;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-primary-500);
	--anchor-font-color-dark: var(--color-primary-500);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 0.375rem;
	--radius-container: 0.75rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(100% 0 none);
	--color-primary-100: oklch(92.4% 0.04 290.39deg);
	--color-primary-200: oklch(84.79% 0.08 289.32deg);
	--color-primary-300: oklch(77.51% 0.12 288.02deg);
	--color-primary-400: oklch(70.11% 0.16 286.11deg);
	--color-primary-500: oklch(63.04% 0.21 283.49deg);
	--color-primary-600: oklch(61.19% 0.22 282.65deg);
	--color-primary-700: oklch(59.4% 0.23 281.74deg);
	--color-primary-800: oklch(57.59% 0.24 280.42deg);
	--color-primary-900: oklch(55.94% 0.25 279.33deg);
	--color-primary-950: oklch(54.36% 0.26 278.15deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-light);
	--color-primary-contrast-500: var(--color-primary-contrast-light);
	--color-primary-contrast-600: var(--color-primary-contrast-light);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(89.88% 0.09 328.13deg);
	--color-secondary-100: oklch(84.42% 0.12 340.44deg);
	--color-secondary-200: oklch(79.17% 0.15 348.34deg);
	--color-secondary-300: oklch(74.52% 0.18 355.01deg);
	--color-secondary-400: oklch(70.42% 0.21 0.19deg);
	--color-secondary-500: oklch(67.21% 0.23 5.73deg);
	--color-secondary-600: oklch(66.56% 0.23 6.68deg);
	--color-secondary-700: oklch(66.04% 0.24 7.77deg);
	--color-secondary-800: oklch(65.53% 0.24 8.47deg);
	--color-secondary-900: oklch(65.11% 0.24 9.62deg);
	--color-secondary-950: oklch(64.69% 0.25 10.73deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-light);
	--color-secondary-contrast-400: var(--color-secondary-contrast-light);
	--color-secondary-contrast-500: var(--color-secondary-contrast-light);
	--color-secondary-contrast-600: var(--color-secondary-contrast-light);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(96.2% 0.06 196.22deg);
	--color-tertiary-100: oklch(91.42% 0.08 188.86deg);
	--color-tertiary-200: oklch(86.81% 0.1 184.2deg);
	--color-tertiary-300: oklch(82.45% 0.12 180.48deg);
	--color-tertiary-400: oklch(78.32% 0.13 177.12deg);
	--color-tertiary-500: oklch(74.5% 0.14 173.56deg);
	--color-tertiary-600: oklch(72.83% 0.13 173.57deg);
	--color-tertiary-700: oklch(71.15% 0.13 173.57deg);
	--color-tertiary-800: oklch(69.2% 0.13 174.05deg);
	--color-tertiary-900: oklch(67.49% 0.12 174.07deg);
	--color-tertiary-950: oklch(65.78% 0.12 174.1deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(97.92% 0.03 196.61deg);
	--color-success-100: oklch(92.9% 0.06 170.63deg);
	--color-success-200: oklch(87.81% 0.09 161.38deg);
	--color-success-300: oklch(83.17% 0.12 156.61deg);
	--color-success-400: oklch(78.56% 0.15 153.03deg);
	--color-success-500: oklch(74.55% 0.18 150.18deg);
	--color-success-600: oklch(73.14% 0.18 150.24deg);
	--color-success-700: oklch(71.71% 0.18 150.08deg);
	--color-success-800: oklch(70.04% 0.17 150.16deg);
	--color-success-900: oklch(68.6% 0.17 149.98deg);
	--color-success-950: oklch(67.16% 0.17 150.04deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-light);
	--color-success-contrast-500: var(--color-success-contrast-light);
	--color-success-contrast-600: var(--color-success-contrast-light);
	--color-success-contrast-700: var(--color-success-contrast-light);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(99.5% 0.02 106.79deg);
	--color-warning-100: oklch(95.77% 0.05 88.56deg);
	--color-warning-200: oklch(92.14% 0.08 82.82deg);
	--color-warning-300: oklch(88.87% 0.11 80.09deg);
	--color-warning-400: oklch(85.55% 0.13 77.15deg);
	--color-warning-500: oklch(82.43% 0.15 73.67deg);
	--color-warning-600: oklch(81.83% 0.15 72.94deg);
	--color-warning-700: oklch(81.25% 0.16 72.03deg);
	--color-warning-800: oklch(80.85% 0.16 71.77deg);
	--color-warning-900: oklch(80.28% 0.16 70.76deg);
	--color-warning-950: oklch(79.71% 0.16 69.8deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-light);
	--color-warning-contrast-400: var(--color-warning-contrast-light);
	--color-warning-contrast-500: var(--color-warning-contrast-light);
	--color-warning-contrast-600: var(--color-warning-contrast-light);
	--color-warning-contrast-700: var(--color-warning-contrast-light);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(95.31% 0.04 331.4deg);
	--color-error-100: oklch(88.15% 0.07 353.05deg);
	--color-error-200: oklch(81.58% 0.11 2.02deg);
	--color-error-300: oklch(75.42% 0.15 7.81deg);
	--color-error-400: oklch(70.34% 0.19 12.5deg);
	--color-error-500: oklch(66.36% 0.23 17.11deg);
	--color-error-600: oklch(65.74% 0.23 17.99deg);
	--color-error-700: oklch(65.11% 0.24 18.8deg);
	--color-error-800: oklch(64.61% 0.24 20.02deg);
	--color-error-900: oklch(64.14% 0.25 20.89deg);
	--color-error-950: oklch(63.8% 0.25 21.86deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-light);
	--color-error-contrast-400: var(--color-error-contrast-light);
	--color-error-contrast-500: var(--color-error-contrast-light);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(93.67% 0.01 93.49deg);
	--color-surface-100: oklch(86.11% 0.01 84.5deg);
	--color-surface-200: oklch(78.6% 0 84.44deg);
	--color-surface-300: oklch(70.72% 0 308.84deg);
	--color-surface-400: oklch(62.8% 0.01 286.36deg);
	--color-surface-500: oklch(54.41% 0.01 286.1deg);
	--color-surface-600: oklch(48.47% 0.01 285.97deg);
	--color-surface-700: oklch(42.39% 0.02 285.71deg);
	--color-surface-800: oklch(35.71% 0.02 285.33deg);
	--color-surface-900: oklch(29.12% 0.03 284.73deg);
	--color-surface-950: oklch(22.1% 0.03 283.77deg);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-light);
	--color-surface-contrast-500: var(--color-surface-contrast-light);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}